@import "variables";

.register {
  padding-top: 20px;
  padding-bottom: 50px;
  display: grid;
  grid-template-rows: 100px 200px 400px 100px;

  @media #{$mobile} {
    padding-top: 40px;
  }
}

.title {
  font-size: 27px;
  text-align: center;
  color: $blue;

  @media #{$mobile} {
    font-size: 23px;
  }
}

.stepper {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.row {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;

  &:before {
    content: " ";
    position: absolute;
    top: 14px;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: $lightGrey;
    opacity: .49;
  }
}

.step {
  position: relative;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.step_link {
  display: block;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-size: 100%;
  background-color: #fff;
}

.step_title {
  padding-top: 12px;
  font-size: 18px;
  color: $blue;
}




