@import "variables";

.account {
  width: 360px;
  height: 280px;
  display: grid;
  margin-right: 10px;
  margin-bottom: 20px;
  background-color: $white;
  box-shadow: 0 0 1vw rgba(206, 206, 206, .5);
  border-radius: 8px;
}
