@import "styles/variables";

.profile {
  position: relative;
  margin: 0 1vw;
}

.profile_btn {
  cursor: pointer;
  border: 0;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: url("../../images/idea/user.png") no-repeat 100% 100%;
  background-size: 100%;

  &:focus {
    ~.profile_window {
      visibility: visible;
    }
  }

  @media #{$tablet} {
    width: 30px;
    height: 30px;
  }
}

.profile_window {
  visibility: hidden;
  position: absolute;
  top: 6.5vh;
  left: -12vw;
  width: 17vw;
  border-radius: 7px;
  border: 1px solid $border;
  box-shadow: 0 0 1vw rgba(206, 206, 206, .5);
  background-color: $white;
  z-index: 2;
  transition: all .3s ease-in-out;

  @media #{$tablet} {
  }
}

.profile_info {
  padding: 1vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid $border;
}

.profile_pic {
  width: 55px;
  height: 55px;

  @media #{$tablet} {
    width: 30px;
    height: 30px;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.profile_name {
  padding-left: 1.3vw;
  font-size: 1vw;

  @media #{$tablet} {
    font-size: 1.5vw;
  }
}

.controls {
  display: flex;
  flex-direction: column;

  .control_item {
    padding: 1vw;
    color: $black;
    transition: all .1s ease-in-out;

    @media #{$tablet} {
      font-size: 1.2vw;
    }

    &:hover {
      background-color: #f8f9fb;
    }
  }
}
