@import "variables";

.password {
  display: flex;
  flex-direction: row;
}

.row {
  display: flex;
  justify-content: center;
}

.form {
  width: 50%;

  @media #{$phone} {
    width: 100%;
  }
}

.pass {
  padding-left: 53px;
  display: flex;
  flex-direction: column;

  @media #{$tablet} {
    padding-left: 50px;
  }

  @media #{$phone} {
    padding-left: 0;
    width: 100%;
  }
}

.title {
  padding-top: 65px;
  color: $grey;
  font-size: 29px;
  letter-spacing: -.8px;

  @media #{$desktop} {
    font-size: 20px;
    padding-top: 40px;
  }
}

label {
  font-size: 18px;
  color: $lightGrey;

  @media #{$tablet} {
    font-size: 16px;
  }
}

.field {
  padding-top: 25px;
  width: 68%;
  border-bottom: 1px solid $grey;

  @media #{$desktop} {
    width: 100%;
  }

  @media #{$phone} {
    width: 100%;
  }

  &:first-child {
    margin-bottom: 53px;
  }

  input {
    font-size: 28px;
    padding: 9px 0;
  }
}

.image {
  width: 50%;
  margin-left: 20px;

  @media #{$phone} {
    display: none;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.help {
  margin-left: 5px;
  padding: 2px;
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: $grey;
  border-radius: 50%;
  font-size: 18px;
  color: $white;
  text-align: center;
}
