@import "variables";

.cards {
  position: relative;
  width: 13vw;
  height: 8vw;

  @media #{$desktop} {
    width: 17vw;
    height: 11vw;
  }

  @media #{$tablet} {
    width: 21vw;
    height: 13vw;
  }

  @media #{$phone} {
    width: 20vw;
    height: 14vw;
  }

  @media #{$mobile} {
    width: 40vw;
    height: 24vw;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.picture {
  position: absolute;
  top: 0;
  left: 0;
}

.backcard {
  position: absolute;
  top: 1vw;
  right: -1vw;

  @media #{$tablet} {
    top: 1.5vw;
    right: -1.5vw;
  }

  @media #{$phone} {
    top: 1.7vw;
    right: -1.7vw;
  }

  @media #{$mobile} {
    top: 4vw;
    right: -4vw;
  }
}

.card_data {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  font-size: .9vw;
}

.card_number {
  position: absolute;
  top: 52%;
  left: 15%;
}

.expiry_date {
  position: absolute;
  bottom: 15%;
  left: 10%;
}

.card_type {
  position: absolute;
  bottom: 5%;
  right: 40%;
}
