@import "variables";

.button {
  width: 33.33%;
  height: 100%;
  display: flex;
  align-items: center;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;

  &:last-child {
    border-right: 0;
  }

  a {
    width: 100%;
    height: 100%;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: transparent;
    font-size: .85vw;
    text-align: center;


    @media #{$desktop} {
      font-size: 1vw;
    }

    @media #{$tablet} {
      font-size: 1.5vw;
    }

    @media #{$mobile} {
      font-size: 2.5vw;
    }

    &:focus {
      outline: 1px solid $blue;
    }

    &:hover {
      color: $blue;

      .btn_icon {

        svg {
          g {
            g {
              fill: $blue;
            }
          }
        }
      }

      .btn_text {
        color: $blue;
      }
    }

    .btn_icon {
      width: 1.4vw;
      height: 1vw;

      @media #{$desktop} {
        width: 2.4vw;
        height: 1.5vw;
      }

      @media #{$tablet} {
        width: 2.4vw;
        height: 1.5vw;
      }

      @media #{$mobile} {
        width: 7.4vw;
        height: 3vw;
      }

      svg {
        width: 100%;
        height: 100%;

        g {
          g {
            fill: $black;
          }
        }
      }
    }

    span {
      margin-top: .5vw;
      color: $black;

      @media #{$mobile} {
        margin-top: 2vw;
      }
    }
  }
}
