@import "variables";

.details_btn {
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 0;
  outline: none;
  background-color: transparent;

  &:hover {
    //outline: 1px solid $blue;
  }

  @media #{$tablet} {
    width: 20px;
    height: 10px;
    background-size: 100%;
  }

  @media #{$phone} {
    width: 25px;
    height: 15px;
  }

  @media #{$mobile} {
    width: 30px;
    height: 15px;
  }
}

.top {

}

.right {

}

.bottom {

}

.left {

}
